.questions {
    padding: 70px 0 65px 0;
    
    &__title {
        line-height: 105%;
    }

    &__list {
        margin-top: 30px;
        list-style-type: none;

        li {
            padding: 20px 0 20px 30px;
            border-bottom: 3px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
        }
    }

    &__liwrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__headline {
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        color: #fff;
    }

    &__box {
        /* max-height: 112px; */
        transition: all 0.6s;

        &_active {
            max-height: unset;
        }
    }

    &__content {
        max-width: 902px;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        color: $mainc-w70;
        transition: all 0.6s;
        visibility: hidden;

        &_active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__plus {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        backdrop-filter: blur(24px);
        background-color: $mainc-bg;
        cursor: pointer;

        &_active {
            transform: rotate(45deg);
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 26px;
            width: 4px;
            border-radius: 20px;
            background-color: #fff; 
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 4px;
            width: 26px;
            border-radius: 20px;
            background-color: #fff;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .questions {
        &__headline {
            font-size: 30px;
        }

        &__content {
            font-size: 20px;
        }
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }


}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .questions {
        &__content {
            max-width: 690px;
        }

        &__plus {
            width: 54px;
            height: 54px;

            &::before {
                height: 20px;
            }

            &::after {
                width: 20px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .questions {
        padding: 20px 0 90px 0;

        &__title {
            line-height: 100%;
            letter-spacing: -0.02em;
        }

        &__list {
            margin-top: 0;

            li {
                padding-left: 20px;
            }
        }

        &__headline {
            font-size: 24px;
            letter-spacing: -0.02em;
        }

        &__content {
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
        }

        &__plus {
            width: 50px;
            height: 50px;

            &::before {
                height: 20px;
                width: 2px;
            }

            &::after {
                width: 20px;
                height: 2px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .questions {
        padding: 5px 0 30px 0;

        &__list {
            margin-top: 10px;
            li {
                padding: 10px;
                border-bottom: 2px solid rgba(255, 255, 255, 0.1);  
            }
        }

        &__headline {
            font-size: 16px;
            letter-spacing: unset;
        }

        &__content {
            margin-top: 8px;
            font-size: 14px;
        }

        &__plus {
            width: 36px;
            height: 36px;
            min-width: 36px;

            &::before {
                height: 12px;
                width: 2px;
            }

            &::after {
                width: 12px;
                height: 2px;
            }
        }
    }
    
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}