.vip {
    padding: 80px 0 70px 0;

    &__title {
        font-weight: 600;
        font-size: 88px;
        line-height: 80%;
        letter-spacing: -0.02em;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(90deg, #f43b47 0%, #453a94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__subtitle {
        max-width: 750px;
        margin: 20px auto 0 auto;
        font-size: 20px;
        text-align: center;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 760px);
        grid-template-rows: repeat(2, (minmax(206px, auto)));
        grid-auto-rows: minmax(206px, auto);
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 40px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        padding: 40px;
        border-radius: 30px;
        backdrop-filter: blur(24px);
        box-shadow: 0 75px 75px 0 rgba(10, 10, 10, 0.09), 0 170px 102px 0 rgba(10, 10, 10, 0.05), 0 302px 121px 0 rgba(10, 10, 10, 0.01), 0 471px 132px 0 rgba(10, 10, 10, 0), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.04);
    }

    &__icon {
        margin-right: 40px;
        min-width: 100px;
        min-height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__headline, &__cost {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #fff;
    }

    &__descr, &__text {
        margin-top: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: $mainc-w70;

    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 1111px;
        margin: 40px auto 0 auto;
    }

    &__subitem {
        /* width: 353px; */
        width: 31.7%;
        padding: 40px;
        border-radius: 30px;
        backdrop-filter: blur(24px);
        box-shadow: 0 75px 75px 0 rgba(10, 10, 10, 0.09), 0 170px 102px 0 rgba(10, 10, 10, 0.05), 0 302px 121px 0 rgba(10, 10, 10, 0.01), 0 471px 132px 0 rgba(10, 10, 10, 0), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.04);

        &_w365 {
            /* width: 365px; */
            width: 32.8%;
        }

        &_pt134 {
            padding-top: 118px;
        }
        
        &_pt68 {
            padding-top: 55px;
        }
    }

    &__number {
        font-weight: 600;
        font-size: 128px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        background: linear-gradient(270deg, #915c46 0%, #c47a5c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__month {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        color: $mainc-w40;
    }

    &__cost {
        margin-top: 40px;
        text-align: center;
    }

    &__btn {
        max-width: unset;
        margin-top: 20px;
    }

    &-modal {
        min-width: 603px;
        padding: 40px;
        border-radius: 40px;
        background-color: $mainc-bg;
        backdrop-filter: blur(24px);
        background: url("../img/bg/modal-bg.png") center / cover no-repeat;

        &__img {
            width: 141px;
            height: 140px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            margin-top: 20px;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
            text-align: center;
            color: #fff;
        }

        &__descr {
            margin-top: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: $mainc-w40;
        }

        &__btn {
            width: 100%;
            max-width: unset;
            margin: 0;
        }

        &__hidden:checked + &__checkbox {
            &::before {
                background: url("../img/icons/check\ -white.svg") center / cover no-repeat; 
            }
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .vip {
        &__wrapper {
            grid-template-columns: repeat(2, 550px);
            justify-content: center;
        }

        &__item {
            padding: 20px 30px 31px 30px;
        }

        &__subitem {
            padding: 20px 30px 31px 30px;
        }

        &__headline {
            font-size: 30px;
        }

        &__descr ,&__text {
            font-size: 19px;
        }
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .vip {
        &__wrapper {
            grid-template-columns: repeat(2, 474px);
        }

        &__headline {
            font-size: 30px;
        }

        &__descr, &__text {
            font-size: 18px;
        }

        &__bottom {
            width: 100%;  
        }

        &__subitem {
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 40px;
        }

        &__cost {
            margin-top: 25px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .vip {
        padding: 20px 0 100px 0;
        &__wrapper {
            grid-template-columns: repeat(2, 315px);
            grid-template-rows: repeat(2, (minmax(297px, auto)));
            margin-top: 30px;
        }

        &__title {
            font-size: 88px;
            line-height: 80%;
        }

        &__subtitle {
            max-width: 500px;
            margin-top: 13px;
            letter-spacing: -0.02em;
        }

        &__bottom {
            display: none;
        }

        &__item {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
        }

        &__icon {
            margin-right: 40px;
            width: 70px;
            height: 70px;
            min-width: 70px;
            min-height: 70px;
        }

        &__headline {
            margin-top: 30px;
            font-size: 24px;
            line-height: 130%;
        }

        &__headline {
            max-width: 250px;
        }

        &__descr {
            margin-top: 16px;
            font-size: 16px;
            line-height: 135%;
            letter-spacing: -0.02em;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .vip {
        &__wrapper {
            grid-template-columns: repeat(2, 265px);
            /* grid-template-rows: repeat(2, (minmax(297px, auto))); */
        }

        &__headline {
            margin-top: 20px;
        }

        &__descr {
            margin-top: 12px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .vip {
        padding-bottom: 30px;

        &__wrapper {
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, (minmax(136px, auto)));
            grid-auto-rows: minmax(136px, auto);
            row-gap: 10px;
            justify-items: center;
            margin-top: 20px;
        }
        
        &__subtitle {
            margin-top: 20px;
            padding: 0;
        }

        &__item {
            max-width: 335px;
            flex-direction: row;
            padding: 16px;
        }

        &__headline {
            max-width: 210px;
            margin-top: 0;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: -0.02em;
        }

        &__descr {
            max-width: 220px;
            margin-top: 5px;
            font-size: 14px;
            line-height: 130%;
        }

        &__icon {
            margin-right: 20px;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}