.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 0 0;
    }

    &__nav {
        width: 55.8%;
        /* width: 860px; */
        padding: 20px 30px 23px 30px;
        border-radius: 100px;
        background-color: $mainc-bg;
        backdrop-filter: blur(24px);
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;

        li {
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: $mainc-w70;
        }
    }

    &__vip {
        font-weight: 800;
        font-size: 20px;
        line-height: 130%;
        background: linear-gradient(90deg, #f43b47 0%, #453a94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__logo {
        width: 260px;
        height: 51px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__enter {
        width: 253px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
        padding: 21px 16px 24px 16px;
        border-radius: 100px;
        background-color: $mainc-bg;
        backdrop-filter: blur(24px);
    }
}

@media (max-width: 1679px) {

    .container {
        max-width: 1320px;
    }

    .header {
        &__logo {
            width: 16.8%; 
            min-width: 260px; 
        }

        &__enter {
            width: 16.4%;
            min-width: 250px;
            font-size: 22px;
        }

        &__nav {
            li {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 1440px) {

    .container {
        max-width: 1120px;
    }

    .header {
        &__logo {
            min-width: 230px;

            img {
                object-fit: contain;
            }
        }

        &__enter {
            min-width: 220px;
            font-size: 20px;
        }

        &__nav {
            li {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1200px) {

    .container {
        max-width: 968px;
    }
}
@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {

    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}