.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 0 0;
    }

    &__hamburger {
        display: none;
    }

    &__nav {
        width: 55.8%;
        /* width: 860px; */
        padding: 20px 30px 23px 30px;
        border-radius: 100px;
        background-color: $mainc-bg;
        backdrop-filter: blur(24px);

        &_m-visible {
            display: none;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;

        li {
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: $mainc-w70;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    &__vip {
        font-weight: 800;
        font-size: 20px;
        line-height: 130%;
        background: linear-gradient(90deg, #f43b47 0%, #453a94 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__logo {
        width: 260px;
        height: 51px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__enter {
        width: 253px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
        padding: 21px 16px 24px 16px;
        border-radius: 100px;
        background-color: $mainc-bg;
        backdrop-filter: blur(24px);
    }

    &__arrow-m {
        display: none;
    }

    &__list-item {
        &_li-m {
            display: none;
        }
    }

    &__phonewrap-m {
        display: none;
    }

    &__social-m {
        display: none
    }

    &__confidantial-m {
        display: none;
    }

    &__btn-m {
        display: none;
    }

}

@media (max-width: 1679px) {

    .container {
        max-width: 1320px;
    }

    .header {
        &__logo {
            width: 16.8%; 
            min-width: 260px; 
        }

        &__enter {
            width: 16.4%;
            min-width: 250px;
            font-size: 22px;
        }

        &__nav {
            li {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 1440px) {

    .container {
        max-width: 1120px;
    }

    .header {
        &__wrapper {
            padding-top: 40px;
        }
        &__logo {
            min-width: 230px;

            img {
                object-fit: contain;
            }
        }

        &__enter {
            min-width: 220px;
            font-size: 20px;
        }

        &__nav {
            li {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1200px) {

    .container {
        max-width: 968px;
    }

    .header {
        &__nav {
            li {
                font-size: 20px;
            }

            &_m-hidden {
                display: none;
            }

            &_m-visible {
                display: block;
            }

            width: 100%;
            margin-top: 20px;
        }

        &__logo {
            min-width: 260px;
        }

        &__enter {
            min-width: 250px;
            font-size: 22px;
        }
    }
}
@media (max-width: 992px) {

    .container {
        max-width: 648px;
    }

    .header {
        &__nav {
            margin-top: 16px;
            padding: 24px 30px 24px 30px;

            li {
                font-size: 16px;
            }
        }

        &__enter {
            width: 197px;
            min-width: unset;
            padding: 18px 30px 20px 30px;
            font-size: 16px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }

    .header {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;

        &__wrapper {
            padding: 14px;
            border-radius: 100px;
            backdrop-filter: blur(24px);
            background: $mainc-bg;
        }

        &__enter {
            display: none;
        }
        &__hamburger {
            display: block;
            width: 17px;

            span {
                display: block;
                height: 2px;
                width: 100%;   
                margin: 0 auto;    
                margin-bottom: 3px;        
                background-color: #fff;
                transition: all 0.6s;
            }
            
            &_active {
                span {
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg); 
                        margin-bottom: -2px;
                    }

                    &:nth-child(2) {
                        display: none;
                    }
                        
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg); 
                        margin-bottom: 6px;
                    }     	
                }
            }
        }

        &__accountwrap-m {
            display: flex;
            align-items: center;

        }

        &__arrow-m {
            display: flex;
        }
    

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 129px;
            height: 24px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__nav {
            z-index: 20;
            position: absolute;
            top: 92px;
            left: -100%;
            /* left: 0; */
            width: 100%;
            height: 100vh;
            margin-top: 0;
            padding: 0 20px;
            border-radius: 0;
            background: linear-gradient(270deg, #080808 0%, #1e120e 72.09%, #2d1910 100%);
            transition: all 0.6s;

            &_active {
                left: 0;
            }
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 10px;
            border-radius: 20px;
            backdrop-filter: blur(24px);
            background: $mainc-bg;
        }
        
        &__list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 10px 10px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: $mainc-w70;

            &_li-m {
                display: flex;
                padding: 10px;
                background-color: $mainc-bg;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                border-radius: 100px;
                
            }
        }

        &__arrow-m {
            display: flex;
            flex-direction: column;
            align-items:center;
            width: 15px;

            span {
                height: 2px;
                width: 11px;
                margin: 2px 4px 2px 0;
                background-color: rgba(255, 255, 255, 0.3);
                transform: rotate(45deg);

                &:nth-child(2) {
                    margin-top: 2px;
                    transform: rotate(-45deg);
                }
            }
        }

        &__vip {
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: $mainc-w70;
            -webkit-text-fill-color: unset;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border-radius: 100px;
            background-color: #fff;
        }

        &__phonewrap-m {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            min-height: 82px;
            margin-top: 10px;
            padding: 10px;
            border-radius: 20px;
            backdrop-filter: blur(24px);
            background: $mainc-bg;

            div {
                display: flex;
                align-items: center;
            }
        }

        &__email {
            margin-left: 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: $mainc-w70;
        }

        &__letter {
            width: 20px;
            height: 21px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__number {
            margin-left: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: $mainc-w70;
            text-decoration: none;
        }

        &__social-m {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
            padding: 0 34px;
        }

        &__links {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 1.50px solid $mainc-w70;
            border-radius: 100px;
        }

        &__confidantial-m {
            display: block;
            max-width: 204px;
            margin: 10px auto 0 auto;
            font-weight: 500;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            color: $mainc-w70;
        }

        &__btn-m {
            display: block;
            width: 100%;
            max-width: 320px;
            margin-top: 10px;
            padding: 14px 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #fff;
        }
    }
}