.partners {
    padding: 35px 0 100px 0;

    &__title {
        line-height: 110px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 65px;
        margin-top: 20px;
    }

    &__label {
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .partners {
        &__label {
            width: 25%;
            max-width: 205px;

            &:nth-child(1) {
                max-width: 250px;
            }

            &:nth-child(3), &:nth-child(4), &:nth-child(5)  {
                max-width: 150px;
            }
        }
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .partners {
        padding-top: 0;

        &__label {
            &:nth-child(1) {
                max-width: 210px;
            }

            &:nth-child(3), &:nth-child(4), &:nth-child(5)  {
                max-width: 110px;
            }
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .partners {
        padding-bottom: 85px;

        &__title {
            line-height: 103%;
        }

        &__wrapper {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__label {
            width: 40%;
            max-width: 300px;
            margin: 0 20px 20px 20px;

            &:nth-child(1) {
                max-width: 210px;
            }

            &:nth-child(2) {
                max-width: 180px;
            }

            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                max-width: 125px;
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }

    .partners {
        padding: 10px 0 40px 0;

        &__content {
            overflow-x: scroll;
        }

        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 850px;
            padding: 0;
            flex-wrap: nowrap;
        }
    
        &__label {
            width: 54%;
            max-width: 175px;
            margin: 0;
            margin-right: 28px;

            &:nth-child(1) {
                max-width: 175px;
            }

            &:nth-child(2) {
                max-width: 122px;
            }

            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                max-width: 110px;
            }
        }
    }
}