.feed-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 30px;
    backdrop-filter: blur(24px);
    box-shadow: 0 75px 75px 0 rgba(10, 10, 10, 0.09), 0 170px 102px 0 rgba(10, 10, 10, 0.05), 0 302px 121px 0 rgba(10, 10, 10, 0.01), 0 471px 132px 0 rgba(10, 10, 10, 0), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.04);

    &_alit-stretch {
        align-items: stretch;
    }

    &_mrg0 {
        margin: 0;
    }

    &_mt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_fixedw {
        width: 730px;
    }

    &_hidden {
        display: none;
    }

    &__enter {
        display: none;
        
        &_active {
            display: block;
        }
    }

    &__inputWrap {
        position: relative;

        div {
            display: block;
            position: absolute;
            top: -8px;
            left: 17px;
            border-radius: 10px;
            background-color: #1e120e;
        }

    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 6px;
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #915c46;

        /* &:hover {
            background-color: $mainc-input;
        } */
    }

    

    &__input {
        position: relative;
        width: 100%;
        height: 62px;
        padding: 20px 0 20px 30px;
        margin-bottom: 20px;
        border: 2px solid #915c46;
        border-radius: 16px;
        outline: none;
        background-color: transparent;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #fff;
        transition: all 0.4s;

        &_tac {
            padding-left: 0;
            
            &::placeholder {
                padding-left: 0;
                text-align: center;
            }
        }

        &_h68 {
            height: 68px;
        }

        &_br10 {
            border-radius: 10px;
        }

        &_mb10 {
            margin-bottom: 10px;
        }

        &_mb16 {
            margin-bottom: 16px;
        }

        &_mb15 {
            margin-bottom: 15px;
        }

        &_mb30 {
            margin-bottom: 30px;
        }

        &_mb0 {
            margin-bottom: 0;
        }

        &_fz20 {
            font-size: 20px;
        }

        &_textarea {
            min-height: 102px;
            padding-bottom: 60px;
            resize:none;
            overflow: hidden;
        }

        &:hover {
            background-color: $mainc-input;
            
        }

        &:focus {
            outline: 6px solid rgba(145, 92, 70, 0.2);
            transition: all 0s;
        }


        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: $mainc-w40;
            transition: all 0.4s;
        }

        &_place-fz20 {
            &::placeholder {
                font-size: 20px;
            }
        }

        &:focus::placeholder {
            color: transparent;
        }        
    }

    &__select {
        height: 66px;
        background: url("../img/icons/down.svg") right 23px top 50% no-repeat;
        appearance: none;

        &::-ms-expand { display: none; }

        option {
            /* padding: .61em .8em .5em 1.4em;  */
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color:#fff;
            

        }
    }

    &__confidential {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        text-align: center;
        color: $mainc-w70;

        &_mt10 {
            margin-top: 10px;
        }

        &_mt0 {
            margin-top: 0;
        }

        &_tal {
            text-align: left;
        }
    }

    &__confidentialWrap {
        display: flex;
        align-items: flex-start;
        margin-top: 16px;


    }

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color:#fff;

        &_colorw70 {
            color: $mainc-w40;
        }

        &_tac {
            text-align: center;
        }
        
        &_mt16 {
            margin-top: 16px;
        }

        span {
            font-weight: 600;
            color:#fff;
        }
    }

    &__forget {
        font-weight: 600;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-align: center;
        color:#fff;
    }

    &__hidden {
        display: none;
    }

    &__checkbox {
        position: relative;
        min-width: 26px;
        min-height: 27px;
        margin-right: 5.5px;
        border-radius: 4px;
        background-color: #fff;
        border: 1.50px solid #fff;
        

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 9px;
            transition: all 0.8s;
            
        }
    }

    &__hidden:checked + &__checkbox {
        &::before {
            background: url("../img/icons/check.svg") center / cover no-repeat; 
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .feed-form { 
        max-width: 630px;  
        padding: 40px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .feed-form { 
        max-width: 100%;
        margin: 0;
        padding: 40px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .feed-form { 
        padding: 10px;
        border-radius: 20px;

        &__input {
            height: 58px;
            margin-bottom: 10px;

            &::placeholder {
                font-size: 14px;
                line-height: 130%;
            }
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}