.feed-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 30px;
    backdrop-filter: blur(24px);
    box-shadow: 0 75px 75px 0 rgb(10 10 10 / 9%), 0 170px 102px 0 rgb(10 10 10 / 5%), 0 302px 121px 0 rgb(10 10 10 / 1%), 0 471px 132px 0 rgb(10 10 10 / 0%), 0 4px 4px 0 rgb(0 0 0 / 25%);
    background: rgb(255 255 255 / 4%);

    &_alit-stretch {
        align-items: stretch;
    }

    &_br40 {
        border-radius: 40px;
    }

    &_mrg0 {
        margin: 0;
    }

    &_mt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_fixedw {
        width: 730px;
    }

    &_center {
        margin: 0 auto;
    }

    &_mt259 {
        margin-top: 259px;
    }

    &_mt209 {
        margin-top: 209px;
    }

    &_hidden {
        display: none;
    }

    &__enter {
        &_show {
            display: block;
        }

        &_hide {
            display: none;
        }
    }

    &_modal {
        padding: 0;
        background: unset;
        backdrop-filter: unset;
        box-shadow: unset;
    }

    &__inputWrap {
        position: relative;

        div {
            display: block;
            position: absolute;
            top: -8px;
            left: 17px;
            border-radius: 10px;
            background-color: #1e120e;
        }
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 6px;
        background-color: rgb(255 255 255 / 4%);
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #915c46;

        &_white {
            display: inline;
            margin-left: 10px;
            vertical-align: top;
            font-size: 20px;
            line-height: 130%;
            font-weight: 600;
            color: #fff;
        }
    }

    &__numberWrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__input {
        position: relative;
        width: 100%;
        height: 62px;
        border: 2px solid #915c46;
        padding: 20px 0 20px 30px;
        transition: all 0.4s;
        margin-bottom: 20px;
        border-radius: 16px;
        outline: none;
        background-color: transparent;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #fff;

        &_tac {
            padding-left: 0;

            &::placeholder {
                padding-left: 0;
                text-align: center;
            }
        }

        &_h68 {
            height: 68px;
        }

        &_h66 {
            height: 66px;
        }

        &_br10 {
            border-radius: 10px;
        }

        &_mb10 {
            margin-bottom: 10px;
        }

        &_mb16 {
            margin-bottom: 16px;
        }

        &_mb15 {
            margin-bottom: 15px;
        }

        &_mb30 {
            margin-bottom: 30px;
        }

        &_mb0 {
            margin-bottom: 0;
        }

        &_mt16 {
            margin-top: 16px;
        }

        &_fz20 {
            font-size: 20px;
        }

        &_textarea {
            min-height: 102px;
            padding-bottom: 60px;
            resize: none;
            overflow: hidden;
        }

        &_gray {
            color: #999;
        }

        &:hover {
            background-color: $mainc-input;
        }

        &:focus {
            outline: 6px solid rgb(145 92 70 / 20%);
            transition: all 0s;
        }

        &::placeholder {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: $mainc-w40;
            transition: all 0.4s;
        }

        &_place-fz20 {
            &::placeholder {
                font-size: 20px;
            }
        }

        &:focus::placeholder {
            color: transparent;
        }

        &_number {
            width: 60px;
            height: 60px;
            margin: 0 8px;
            border: none;
            padding: 18px 25px 16px;
            border-radius: 10px;
            font-size: 20px;
            line-height: 130%;
            background-color: $mainc-bg;
            caret-color: #915c46;

            &:focus {
                outline: 2px solid #915c46;
            }

            &:valid {
                outline: 2px solid #915c46;
            }

            &:hover {
                background-color: $mainc-bg;
            }
        }

        &_modal {
            margin-top: 20px;
            background-color: $mainc-input;
            border: none;
        }
    }

    &__select {
        height: 66px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: url("../img/icons/down.svg") right 23px top 50% no-repeat;
        appearance: none;
        appearance: none;
        appearance: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }

    &__option {
        /* padding: .61em .8em .5em 1.4em;  */
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #fff;
        cursor: pointer;

        &_reviews {
            font-size: 16px;
            text-align: center;
        }
    }

    &__confidential {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        text-align: center;
        color: $mainc-w70;

        &_mt10 {
            margin-top: 10px;
        }

        &_mt0 {
            margin-top: 0;
        }

        &_tal {
            text-align: left;
        }
    }

    &__confidentialWrap {
        display: flex;
        align-items: flex-start;
        margin-top: 16px;

        &_mt20 {
            margin-top: 20px;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #fff;

        &_colorw70 {
            color: $mainc-w40;
        }

        &_tac {
            text-align: center;
        }

        &_mt16 {
            margin-top: 16px;
        }

        &_mt20 {
            margin-top: 20px;
        }

        span {
            font-weight: 600;
            color: #fff;
        }
    }

    &__forget {
        font-weight: 600;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;

        &_mt0 {
            margin-top: 0;
        }
    }

    &__hidden {
        display: none;
    }

    &__checkbox {
        position: relative;
        min-width: 26px;
        min-height: 27px;
        margin-right: 8px;
        border-radius: 4px;
        background-color: #fff;
        border: 1.5px solid #fff;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 9px;
            transform: translate(-50%, -50%);
            transition: all 0.8s;
        }

        &_modal {
            min-width: 21px;
            min-height: 20px;
            background-color: transparent;
        }
    }

    &__hidden:checked + &__checkbox {
        &::before {
            background: url("../img/icons/check.svg") center / cover no-repeat;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .feed-form {
        max-width: 630px;
        padding: 40px;

        &_fixedw {
            width: 648px;
        }

        &_modal {
            padding: 0;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .feed-form {
        max-width: 100%;
        margin: 0;
        padding: 40px;

        &_mt {
            top: 53%;
        }

        &_center {
            margin: 0 auto;
        }

        &_mt259 {
            margin-top: 248px;
        }

        &_mt209 {
            margin-top: 198px;
        }

        &_modal {
            padding: 0;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .feed-form {
        &_mt {
            top: 54%;
        }

        &_mt50 {
            top: 50%;
        }

        &_fixedw {
            width: calc(100% - 40px);
        }

        &_modal {
            padding: 0;
        }

        &__label {
            &_white {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .feed-form {
        padding: 10px;
        border-radius: 20px;

        &_mt259 {
            margin-top: 172px;
        }

        &_mt209 {
            margin-top: 97px;
        }

        &_modal {
            padding: 0;
        }

        &__input {
            height: 58px;
            margin-bottom: 10px;

            &_number {
                margin-bottom: 20px;
            }

            &_mb30 {
                margin-bottom: 24px;
            }

            &::placeholder {
                font-size: 14px;
                line-height: 130%;
            }

            &_place-fz20 {
                &::placeholder {
                    font-size: 16px;
                    letter-spacing: -0.02em;
                }
            }
        }

        &__checkbox {
            min-width: 16px;
            min-height: 16px;

            &::before {
                width: 8px;
                height: 6px;
            }
        }

        &__select {
            font-size: 16px;

            option {
                font-size: 16px;
                line-height: 140%;
                letter-spacing: -0.02em;
            }
        }

        &__label {
            font-size: 14px;
            letter-spacing: -0.02em;

            &_white {
                font-size: 16px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.02em;

            &_mt16 {
                margin-top: 20px;
            }

            &_m-hidden {
                display: none;
            }
        }

        &__confidentialWrap {
            margin-top: 10px;
        }

        &__confidential {
            font-size: 14px;
        }

        &__forget {
            margin-top: 20px;
            font-size: 24px;
            line-height: 130%;

            &_mt0 {
                margin-top: 0;
            }

            &_promo {
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .feed-form {
        &_mt {
            top: 56%;
        }
    }
}