.connect {
    padding: 80px 0 77px 0;  

    &__subtitle {
        margin-top: 20px;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
    }
    
    &__wrapper {
        margin-top: 32px;
    }

    &__btn {
        width: 100%;
        max-width: unset;
        padding: 20px 0 22px 0;
        margin: 0;
        font-size: 20px;
    }

    &__confidential {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        text-align: center;
        color: $mainc-w70;
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .connect {
        padding: 30px 0 124px 0;

        &__title {
            line-height: 75%;
        }

        &__subtitle {
            max-width: 395px;
            margin: 0 auto;
            margin-top: 20px;
            line-height: 140%;
            letter-spacing: -0.02em
        }

        &__wrapper {
            margin-top: 46px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .connect  {
        padding: 22px 0 20px 0;

        &__title {
            font-size: 30px;
            line-height: 100%;
            letter-spacing: -0.02em;
            text-align: center;
        }

        &__subtitle {
            margin-top: 10px;
            padding: 0 30px;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.01em;
        }

        &__wrapper {
            margin-top: 35px;
        }

        &__btn {
            padding: 14px 0 16px 0;
            font-size: 14px;
        }

        &__confidential {
            margin-top: 10px;
            font-size: 14px;
            line-height: 140%;
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}