.sign {
    padding: 100px 0;

    &__wrapper {
        position: relative;
        align-items: center;
        min-height: 611px;
        margin: 0;
        padding: 0;
        padding-left: 108px;
        background: unset;
        background-color: #120d0a;

    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 746px;
        
    }

    &__title {
        line-height: 110px;
    }

    &__subtitle {
        max-width: 584px;
    }

    &__btn {
        max-width: 310px;
        margin: 0;
        margin-top: 34px;
    }

    &__img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 226px;
        max-width: 373px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .sign {
        &__img {
            width: 24.2%;
            min-width: 373px;
            right: 85px;
        }
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .sign {
        &__img {
            right: 55px;
            min-width: 330px;
        }

        &__title {
            font-size: 74px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .sign {
        padding-top: 10px;

        &__img {
            right: 40px;
            min-width: unset;
        }

        &__title {
            font-size: 65px;
        }

        &__subtitle {
            font-size: 22px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .sign {
        padding-bottom: 180px;
        
        &__wrapper {
            min-height: 863px;
            padding: 60px 23px 0 23px; 
        }
        &__item {
            align-items: center;
        }

        &__title {
            letter-spacing: -0.02em;
            line-height: 95%;
        }

        &__subtitle {
            margin-top: 4px;
            font-size: 24px;
            text-align: center;
            letter-spacing: -0.02em;
        }

        &__img {
            top: auto;
            right: 50%;
            bottom: -54px;
            transform: translateY(0);
            transform: translateX(50%);
            width: 303px;
            height: 570px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }
}