.action {
    position: relative;
    padding: 60px 0 78px 0;  

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__bg {
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 141px;
        font-weight: 600;
        font-size: 210px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #52362b;
        filter: blur(19px);
    }

    &__img {
        border-radius: 30px;
        min-width: 520px;
        height: 520px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 60px;
        max-width: 652px;

        &_m-visible {
            display: none;
        }
    }

    &__armor {
        display: none;
    }

    &__date {
        margin-top: 15px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        color: #fff;
    }

    &__title {
        margin-top: 15px;
        font-weight: 600;
        font-size: 88px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #fff;
    }

    &__timer {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 380px;

        &_m-visible {
            display: none;
        }
    }

    &__line {
        z-index: -1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 3px;
        background-color: #080808;
    }

    &__number {
        z-index: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        width: 80px;
        height: 80px;
        background-color: rgb(255, 255, 255, 0.2);
    }

    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: $mainc-w70;
    }

    &__days, &__hours, &__minutes, &__seconds {
        font-weight: 600;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
    }

    &__tabs-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 749px;
        margin: 0 auto;
        margin-top: 36px;
    }

    &__tabs {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: $mainc-w70;
        cursor: pointer;

        &_active {
            font-weight: 800;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #fff;
        }
    }

    &__content {
        margin-top: 20px;
        padding: 20px 0 20px 20px;
        border-radius: 30px;
        backdrop-filter: blur(24px);
        background: $mainc-bg;
    }

    &__headline {
        font-weight: 600;
        font-size: 32px;
        line-height: 80%;
        letter-spacing: -0.02em;
        color: #fff;
    }

    &__body {
        max-width: 890px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: $mainc-w70;
    }

    &__footer {
        margin-top: 11px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: $mainc-w70;
    }

    &__btn {
        margin-top: 30px;
    }

    &-modal {
        min-width: 732px;
        backdrop-filter: blur(100px);

        &_hidden {
            /* display: none; */
        }

        &__title {
            max-width: 438px;
            margin: 0 auto;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            text-align: center;
            color: $mainc-w70;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            margin: 40px auto 0 auto;
            width: 545px;
            border-radius: 100px;
            background-color: $mainc-bg;
        }

        &__label {
            min-width: 166px;
            padding: 20px 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #fff;
            text-align: center;
            cursor: pointer;

            &_mw213 {
                min-width: 213px;
            }
        }

        &__btn {
            width: 100%;
            max-width: unset;
        }

        &__hidden:checked + &__label {
            border-radius: 100px;
            background-color: #fff;
            color: #150d0b;
        }

        &__price {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 16px;

            div {
                &:first-child {
                    display: flex;
                }
            }
        }

        &__cost {
            font-size: 20px;
            line-height: 130%;
            font-weight: 600;
            color: #fff; 
        }

        &__radio {
            position: relative;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            border: 1px solid #fff;

            &::before {
                content: "" ;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                border-radius: 100%;  
            }
        }

        &__hidden_price:checked + &__radio {
            &::before {
                content: "" ;
                background-color: #fff;

            }
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .action {
        &__bg {
            font-size: 160px;
        }

        &__item {}
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .action {
        &__bg {
            font-size: 160px;
        }

        &__title {
            font-size: 78px;
        }

    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .action {
        &__img {
            min-width: 420px;
            height: 420px;
        }

        &__title {
            font-size: 70px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .action {
        padding: 20px 0 40px 0;

        &__bg {
            top: 48px;
            left: 0;
            font-size: 98px;
            letter-spacing: -0.02em;
            filter: blur(10px);
        }

        &__img {
            min-width: 320px;
            height: 320px;
        }

        &__date {
            margin-top: 30px;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            text-transform: none;
            color: $mainc-w70; 
        }

        &__timer {
            width: 360px;
        }

        &__title {
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.02em;
            text-wrap: nowrap;
        }

        &__item {
            margin-left: 14px;
        }

        &__tabs-wrap {
            margin-top: 40px;
        }

        &__tabs {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
        }

        &__content {
            margin-top: 10px;
        }

        &__headline {
            font-size: 24px;
            line-height: 130%;
        }

        &__body {
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.02em;
        }

        &__btn {
            margin-top: 10px;
        }

        &__footer {
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
        }

        &__close {
            top: 15px;
            right: 15px;
        }

    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .action {
        &__title {
            text-wrap: wrap;
        }

        &__number {
            width: 65px;
            height: 65px;
        }

        &__timer {
            flex-wrap: wrap;
            width: 210px;
        }

        &__modWrapper {
            width: 90%;
            min-width: unset;
            max-height: 100vh;
        }

        &-modal {
            width: 100%;
            min-width: unset;
            max-height: 100vh;

            &__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            &__label {
                min-width: 33%;
                font-size: 18px;
                
            }

            &__title {
                max-width: 400px;
                font-size: 18px;
            }
        }

        &__close {
            top: 15px;
            right: 10px;
            width: 60px;
            height: 60px;

            &::after {
                width: 21px;
            }

            &::before {
                height: 21px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .body {
        &_eclipse {
            background: url("../img/bg/action-bg-mobile.png") center / cover no-repeat, linear-gradient(270deg, #080808 0%, #1e120e 72.09%, #2d1910 100%);
        }
    }

    .action {
        padding-top: 10px;
        padding-bottom: 0;
        overflow: hidden;

        &__bg {
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 98px;
            line-height: 130%;
            letter-spacing: -0.02em;
            text-align: center;
        }

        &__wrapper {
            flex-direction: column;
        }

        &__timer {
            margin: 0 auto;
            margin-top: 10px;

            &_m-hidden {
                display: none;
            }

            &_m-visible {
                display: flex;
            }
        }

        &__item {
            margin-top: 10px;
            margin-left: 0;

            &_m-hidden {
                display: none;
            }

            &_m-visible {
                display: flex;
            }
        }

        &__title {
            margin-top: 4px;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: unset;
        }

        &__date {
            margin-top: 0;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: unset;
        }

        &__tabs-wrap {
            margin-top: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        }

        &__tabs {
            font-size: 14px;
            line-height: 130%;
            letter-spacing: unset;

            &_m-hidden {
                display: none;
            }
        }

        &__content {
            padding: 10px;
            border-radius: 10px;
        }

        &__headline {
            font-size: 14px;
            line-height: 130%;
            letter-spacing: unset;
        }

        &__body {
            margin-top: 15px;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: unset;
        }

        &__armor {
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
            text-align: center;
        }

        &__btn {
            width: 100%;
            max-width: 319px;
            margin-top: 10px;
            padding: 14px 0 16px 0;
        }

        &__footer {
            padding: 0 15px;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: unset;
        }

        &__number {
            width: 80px;
            height: 80px;
        }

        &__timer {
            width: 280px;;
        }

        &__modWrapper {
            width: 100%;
            height: 100%;
        }

        &-modal {
            width: 100%;
            height: 100%;
            padding: 20px;
            border-radius: 0;

            &__wrapper {
                margin-top: 30px;
            }

            &__title {
                max-width: 265px;
                font-size: 18px;
            }

            &__cost {
                font-size: 16px;
            }

            &__btn {
                width: 100%;
                max-width: unset;
                margin: 50px auto 0 auto;
                padding: 15px 12px 17px 12px;
                font-size: 16px;
            }

            &__label {
                font-size: 16px;
            }

            &__radio {
                width: 19px;
                height: 19px;
                min-width: 19px;
                min-height: 19px;
            }
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .action {
        &__close {
            top: 15px;
            right: 5px;
            width: 50px;
            height: 50px;

            &::after {
                width: 17px;
            }

            &::before {
                height: 17px;
            }
        }
    }
}