.join {
    padding: 80px 0;

    &__title {
        line-height: 110px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 76px 40px 55px 40px;
        margin-top: 60px;
        border-radius: 30px;
        border: 2px solid #2d1910;
        background: url("../img/bg/join-bg-tablet.png") top 12% center / 92% no-repeat;
        background-color: #120d0a;
    }

    &__list {
        width: 413px;
        list-style-type: none;

        &_mt10 {
            margin-top: 15px;
        }
    }

    &__liwrap {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;

        &_ai-centr {
            align-items: center;
        }

    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px; 
    }

    &__text {
        margin-left: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: $mainc-w70; 
    }

    &__btn {
        max-width: 237px;
        margin-top: 60px;
        line-height: 24px;

        &_m-visible {
            display: none;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .join {
        padding-top: 10px;

        &__wrapper {
            margin-top: 50px;
        }

        &__text {
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .join {
        padding: 30px 0 20px 0;
        
        &__title {
            max-width: 570px;
            margin: 0 auto;
            line-height: 102%;
        }

        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 39px 40px 60px 40px;
            margin-top: 26px;
        }

        &__list {
            width: 100%;
            text-align: center;

            &_mt10 {
                margin-top: 0;
                margin-bottom: 170px;
            }
        }

        &__liwrap {
            justify-content: center;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 16px;
            text-wrap: nowrap;
            letter-spacing: -0.02em;
        }

        &__btn {
            margin-top: 18.5px;

            &_m-visible {
                display: block;
            }

            &_m-hidden {
                display: none;
            }
        }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }

    .join {
        padding: 40px 0 65px 0;

        &__wrapper {
            min-height: 671px;
            margin-top: 10px;
            padding: 20px 20px;
            border: none;
            background: url("../img/bg/join-bg-mobile.png") top 34% right 1% / 116%  no-repeat;
            background-color: #120d0a;
        }
        /* 326px 217px */
        &__list {
            text-align: left;

            &_mt10 {
                margin-bottom: 135px;
            }
        }

        &__liwrap {
            margin-bottom: 16px;
            justify-content: left;

            &:nth-child(2) {
                max-width: 278px;
            }
    
        }

        &__text {
            text-wrap: wrap;
        }

        &__title {
            padding: 0 22px;
        }

        &__btn {
            max-width: 320px;
            margin-top: 10px;
            padding: 14px 0 16px 0;
        }
    }


}
