.join {
    position: relative;
    padding: 80px 0;

    &__title {
        line-height: 110px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        border: 2px solid #2d1910;
        padding: 76px 40px 55px;
        margin-top: 60px;
        border-radius: 30px;
        background: url("../img/bg/join-bg.png") top 12% center / contain no-repeat;
        background-color: #120d0a;
    }

    &__list {
        width: 413px;
        list-style-type: none;

        &_mt10 {
            margin-top: 15px;
        }
    }

    &__liwrap {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;

        &_ai-centr {
            align-items: center;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
    }

    &__text {
        margin-left: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: $mainc-w70;
    }

    &__btn {
        max-width: 300px;
        margin-top: 25px;
        line-height: 24px;

        &_m-visible {
            display: none;
        }
    }

    &-modal {
        min-width: 603px;
        padding: 40px;
        border-radius: 40px;
        background-color: $mainc-bg;
        backdrop-filter: blur(24px);
        background: url("../img/bg/modal-bg.png") center / cover no-repeat;

        &__img {
            width: 141px;
            height: 140px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            margin-top: 20px;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
            text-align: center;
            color: #fff;
        }

        &__descr {
            margin-top: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: $mainc-w40;
        }

        &__btn {
            width: 100%;
            max-width: unset;
            margin: 0;
        }

        &__hidden:checked + &__checkbox {
            &::before {
                background: url("../img/icons/check\ -white.svg") center / cover no-repeat;
            }
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .join {
        padding-top: 10px;

        &-modal {
            max-height: 100vh;
        }

        &__wrapper {
            margin-top: 50px;
        }

        &__text {
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .join {
        padding: 30px 0 20px;

        &__title {
            max-width: 570px;
            margin: 0 auto;
            line-height: 102%;
        }

        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 39px 40px 60px;
            margin-top: 26px;
            background: url("../img/bg/join-bg-tablet.png") top 12% center / 589px 393px  no-repeat;
            background-color: #120d0a;
        }

        &__list {
            width: 100%;
            text-align: center;

            &_mt10 {
                margin-top: 0;
                margin-bottom: 170px;
            }
        }

        &__liwrap {
            justify-content: center;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 16px;
            text-wrap: nowrap;
            letter-spacing: -0.02em;
        }

        &__btn {
            margin-top: 18.5px;

            &_m-visible {
                display: block;
            }

            &_m-hidden {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .join {
        &__text {
            text-wrap: wrap;
        }

        &-modal {
            width: 80%;
            min-width: unset;
        }

        &-modal__close {
            top: 15px;
            right: 0;
        }
    }
}

@media (max-width: 695px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .join {
        &__text {
            &_mw-200 {
                max-width: 300px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }

    .join {
        padding: 40px 0 88px;

        &__wrapper {
            min-height: 671px;
            border: none;
            padding: 20px;
            margin-top: 10px;
            background: url("../img/bg/join-bg-mobile.png") top 33% right 13% / 120%  no-repeat;
            background-color: #120d0a;
        }

        &__list {
            text-align: left;

            &_mt10 {
                margin-bottom: 135px;
            }
        }

        &__text {
            max-width: unset;
            text-wrap: wrap;
        }

        &__liwrap {
            margin-bottom: 16px;
            justify-content: left;

            &:nth-child(2) {
                width: 82.2%;
            }
        }

        &__title {
            padding: 0 22px;
        }

        &__btn {
            max-width: 320px;
            margin-top: 10px;
            padding: 14px 0 16px;
            font-size: 14px;
        }

        &-modal__close {
            right: 15px;
            width: 55px;
            height: 55px;

            &::after {
                width: 20px;
            }

            &::before {
                height: 20px;
            }
        }

        &-modal__modWrapper {
            width: 100%;
            min-width: unset;
            height: 100%;
            min-height: unset;
        }

        &-modal {
            width: 100%;
            height: 100%;
            border-radius: 0;

            &__btn {
                width: 100%;
                max-width: unset;
                margin-top: 15px;
                padding: 20px 12px;
                font-size: 16px;
            }

            &__confidentialWrap {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 359px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}