.benefit {
    padding: 165px 0 99px 0;

    &__title {
        line-height: 100%;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 370px);
        grid-template-rows: (minmax(413px, auto));
        column-gap: 20px;
        grid-auto-rows: (minmax(413px, auto));
        margin-top: 78px;
    }

    &__item {
        padding: 20px 20px 31px 20px;
        border-radius: 30px;
        backdrop-filter: blur(24px);
        box-shadow: 0 75px 75px 0 rgba(10, 10, 10, 0.09), 0 170px 102px 0 rgba(10, 10, 10, 0.05), 0 302px 121px 0 rgba(10, 10, 10, 0.01), 0 471px 132px 0 rgba(10, 10, 10, 0), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: $mainc-bg;
    }
    
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        width: 100%;
    }

    &__number {
        position: relative;
        text-align: right;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: $mainc-w70;
    }

    &__icon {        
        max-width: 100px;
        max-height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__headline {
        margin-top: 35px;
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;

        span {
            color: #915c46;
        }
    }

    &__descr {
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: $mainc-w70;

        &_w358 {
            min-width: 358px;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .benefit {
     &__wrapper {
        grid-template-columns: repeat(4, 320px);
     }

     &__item {
        padding: 20px 30px 31px 30px;;
     }

     &__descr {
        font-size: 18px;

        &_w358 {
            min-width: unset;
            } 
        }
    } 
}
@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .benefit {
        &__wrapper {
           grid-template-columns: repeat(4, 265px);
        }
   
        &__descr {
            &_w358 {
                min-width: 250px;
                } 
        }

        &__headline {
            font-size: 34px;
        }
    }  
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .benefit {
        padding-top: 125px;

        &__wrapper {
           grid-template-columns: repeat(4, 227px);
           grid-template-rows: (minmax(385px, auto));
           margin-top: 55px;
        }

        &__item {
            padding: 15px 10px;
        }

        &__headline {
            font-size: 26px;
        }

        &__descr {
            font-size: 17px;
        }
   
        &__descr {
           &_w358 {
               min-width: unset;
               } 
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .benefit {
        padding-top: 145px;

        &__wrapper {
        grid-template-columns: repeat(2, 313px);
        grid-template-rows: repeat(2, (minmax(322px, auto)));
        column-gap: 20px;
        row-gap: 20px;
        justify-content: center;
        margin-top: 47px;
        }

        &__title {
            text-wrap: nowrap;
            letter-spacing: -0.03em;
        }

        &__item {
            padding: 10px;
        }

        &__number {
            padding: 10px;
            padding-bottom: 0;
            font-size: 20px;
        }

        &__header {
            margin-top: 0;
        }

        &__headline {
            max-width: 297px;
            margin-top: 20px;
            font-size: 32px;
            line-height: 110%;
        }

        &__descr {
            min-width: 295px;
            font-size: 16px;
            line-height: 135%;
            letter-spacing: -0.02em;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .benefit {
        &__wrapper {
            grid-template-columns: repeat(2, 254px);
        }

        &__descr {
            min-width: unset;
        }

        &__title {
            text-wrap: wrap;
        }
    } 
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }

    .benefit {
        padding: 40px 0;

        &__wrapper {
            grid-template-columns: 313px;
            grid-template-rows: repeat(4, minmax(293px, auto));
            margin-top: 18px;

        }

        &__item {
            padding-bottom: 20px;
        }

        &__number {
            padding: 0;
        }

        &__descr {
            &_mw-295 {
                max-width: 295px;
                min-width: unset;
            }
        }

        &__headline {
            line-height: 105%;
        }

        &__title {
            line-height: 96%;
        }
    }
}