.button {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 0;
    background-color: #fff;
    border-radius: 100px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #080808;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: linear-gradient(90deg, #f43b47 0%, #453a94 100%);
        color:#fff; 
        
    }

    &:active {
        box-shadow: 0 5px 11px 0 rgba(29, 27, 27, 0.11), 0 20px 20px 0 rgba(29, 27, 27, 0.09), 0 45px 27px 0 rgba(29, 27, 27, 0.06), 0 80px 32px 0 rgba(29, 27, 27, 0.02), 0 125px 35px 0 rgba(29, 27, 27, 0);
        background: #fff;
        color: #080808;
    }

    &_nobg {
        padding: 28px 0 30px 0;
        border: 1.50px solid #fff;
        background-color: unset;
        background: unset;
        color:#fff;

        &:hover {
            border: 1.50px solid transparent;
            background:linear-gradient(#120d0a 0 0) padding-box, linear-gradient(90deg, #f43b47 0%, #453a94 100%) border-box;
        }

        &:active {
            border: 1.50px solid #fff;
            color:#fff;
        }
    }

    &_footer {
        padding: 20px 50px 22px 50px;
        font-size: 20px;
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .button {
        font-size: 20px;
        padding: 28px 40px;

        &_footer {
            padding: 20px 50px 22px 50px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .button {
        font-size: 20px;
        padding: 20px 50px 22px 50px;

        &_footer {
            padding: 20px 50px 22px 50px;
        }

        &:hover {
            background: #fff;
            color: #080808;
            box-shadow: unset;
        }

        &_nobg {
            &:hover {
                border: 1.50px solid #fff;
                background: unset;
                color:#fff;
            } 
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }

    .button {
        width: 100%;
        max-width: 297px;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.02em;
        padding: 18px 0 20px 0;

        &_footer {
            width: 159px;
            padding: 10px 12px 12px 12px;
            font-size: 14px;
        }
    }
}