.button {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px 40px 30px 40px;
    background-color: #fff;
    border-radius: 100px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #080808;
    text-align: center;

    &_nobg {
        padding: 28px 40px 30px 40px;
        border: 1.50px solid #fff;
        background-color: unset;
        color:#fff;        
        }

    &_footer {
        padding: 20px 50px 22px 50px;
        font-size: 20px;
    }
}

    

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

}
@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .button {
        font-size: 20px;
        padding: 28px 40px;

        &_footer {
            padding: 20px 50px 22px 50px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .button {
        font-size: 20px;
        padding: 20px 50px 22px 50px;

        &_footer {
            padding: 20px 50px 22px 50px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}