.autorization {
    position: relative;
    padding: 29px 0 0 0;
    min-height: 1080px;

    &__logo {
        margin: 0 auto;
        min-width: 260px;
    }

    &__block {
        align-items: unset;
    }

    &__tabsWrap {
        display: flex;
        min-height: 67px;
        width: 380px;
        margin: 0 auto;

        &_m-visible {
            display: none;
        }
    }

    &__tabs {
        margin: 0;

        &_sign, &_enter {
            position: relative;
            padding: 19px 48px 21px 48px;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #fff;  
            background-color: $mainc-bg;  
            z-index: 0;        
        }

        &_enter {
            left: -32px;
            min-width: 185px;
            padding: 19px 61px 21px 61px;
            
        }

        &_sign {
            min-width: 240px;
        }

        &_active {
            z-index: 5;
            color: #080808;
            background-color: #fff;
        }
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #fff;

        &_tac {
            text-align: center; 
        }

        &_m-visible {
            display: none;
        }

        &_mt20 {
            margin-top: 20px;
        }

        &_mt16 {
            margin: 16px auto 30px auto;
        }

        &_mb20 {
            margin-bottom: 20px;
        }

        &_w458 {
            max-width: 458px;

        }
    }

    &__btn {
        width: 100%;
        max-width: unset;
        margin-top: 16px;
    }   
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .autorization {
        &__block {
            min-width: 648px;
        }

        &__logo {
            min-width: 260px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .autorization {
        padding-top: 40px;

        &__block {
            min-width: 648px;
            border-radius: 40px;
        }
            
        &__verify {
            max-width: 648px;
        }

        &__set {
            max-width: 648px;
        }

        &__tabs {
            &_sign, &_enter {
                letter-spacing: -0.02em;     
            }
        }
        
        &__confidential {
            line-height: 140%;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .autorization {
        &__block {
            min-width: 540px; 
        }

        &__confidential {
            font-size: 19px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .autorization {
        min-height: 779px;
        padding-top: 30px;
        /* min-height: 640px; */

        &__logo {
            min-width: 160px;
            min-height: 31px;
        }

        &__block {
            width: calc(100% - 40px);
            min-width: unset;
            padding: 20px;
            border-radius: 20px;
        }

        &__verify {
            width: calc(100% - 40px);
            max-width: unset;
            padding: 20px;
        }

        &__set {
            width: calc(100% - 40px);
            max-width: unset;
            padding: 20px;
        }

        &__tabsWrap {
            width: 197px;
            min-height: unset;

            &_m-visible {
                display: flex;
            }
        }

        &__tabs {
            &_sign, &_enter {
                width: unset;
                min-width: unset;
                padding: 10px 22px 12px 22px;
                font-size: 14px;
                letter-spacing: -0.02em;     
            }

            &_sign {
                min-width: 126px;
            }

            &_enter {
                left: -14px;
            }
        }

        &__title {
            margin-top: 20px;
            margin-bottom: 34px;
            font-size: 14px;
            text-align: center;
            letter-spacing: -0.02em;

            &_m-visible {
                display: block;
            }

            &_m-hidden {
                display: none;
            }

            &_mt10 {
                margin-top: 10px; 
            }

            &_mb24 {
                margin-bottom: 24px;
            }

            &_mb20 {
                margin-bottom: 20px;
            }

            &_tal {
                text-align: left;
            }
        }

        &__btn {
            width: 100%;
            max-width: unset;
            margin-top: 0;
            padding: 14px 0 16px 0;

            &_mt10 {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}