.animation {
    &__type__fade {
        animation-name: animation__type__fade;
        animation-duration: 1.5s;

        &_modal {
            animation-name: animation__type__fade_modal;
            animation-duration: 1.2s;
        }

        &_select {
            animation-name: animation__type__fade;
            animation-duration: 0.3s;
        }
    }
    &__type__fadeOut {
        animation-name: animation__type__fadeOut;
        animation-duration: 1.5s;

        &_modal {
            animation-name: animation__type__fadeOut_modal;
            animation-duration: 0.6s;
        }

        &_select {
            animation-name: animation__type__fadeOut;
            animation-duration: 0.3s;
        }
    }

    &__type__shadow {
        animation-name: animation__type__shadow;
        animation-duration: 1.5s;
    }

    &__type__slide {
        animation-name: animation__type__slide;
        animation-duration: 1.2s;
    }

    &__type__logo {
        animation-name: animation__type__logo;
        border-radius: 20%;
        animation-duration: 1.6s;
    }
}

@keyframes animation__type__fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes animation__type__fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes animation__type__fade_modal {
    from {
        opacity: 0.8;
        top: -100%;
    }

    to {
        opacity: 1;
        top: 50%;
    }
}

@keyframes animation__type__fadeOut_modal {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes animation__type__shadow {
    from {
        opacity: 0.1;
        box-shadow: 0 0 115px #f6f6f6;
    }

    to {
        opacity: 1;
        box-shadow: 0 0 0 #000;
    }
}

@keyframes animation__type__slide {
    from {
        opacity: 0.1;
        transform: scale(50%);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes animation__type__logo {
    from {
        transform: scale(100%);
        opacity: 1;
    }

    50% {
        transform: scale(105%);
        opacity: 0.5;
    }

    to {
        transform: scale(100%);
        opacity: 1;
    }
}
