.promo {
    padding-top: 40px;

    &__wrapper {
        position: relative;
        min-height: 873px;
        padding-top: 1px;
        border-radius: 40px;
        background: url("../img/promo-photo.png") center / cover no-repeat;
    }

    &__photo {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        min-height: 873px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__block {
        width: 67%;
        margin: 0 auto;
        margin-top: 510px;
    }

    &__title {
        font-weight: 600;
        font-size: 128px;
        line-height: 125%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;

        &_m-visible {
            display: none;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
    }

    &-modal {
        width: 545px;

        &__subtitle {
            margin-top: 16px;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: $mainc-w70;
        }

        &__yes, &__no {
            width: 100%;
            max-width: unset;
            padding: 20px 0 22px;
            margin-top: 16px;
            transition: 1s;
        }
    }

    &__overlay {
        display: none;
        position: fixed;
        z-index: 20;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(0 0 0 / 30%);

        &_active {
            display: block;
        }
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }

    .promo {
        &__block {
            width: unset;
        }

        &__title {
            font-size: 120px;
        }

        &__subtitle {
            font-size: 28px;
        }
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .promo {
        &__title {
            font-size: 110px;
        }

        &__subtitle {
            font-size: 26px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .promo {
        &__title {
            font-size: 100px;
        }

        &__subtitle {
            font-size: 26px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .promo {
        &__wrapper {
            min-height: 740px;
        }

        &__block {
            margin-top: 493px;
            margin-left: 11px;
        }

        &__title {
            font-size: 70px;
        }

        &__subtitle {
            font-size: 24px;
        }

        &__btn {
            max-width: 242px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .promo {
        &__wrapper {
            padding-bottom: 40px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;

        &_nopdg {
            padding: 0;
        }
    }

    .promo {
        padding-top: 0;
        padding-bottom: 30px;

        &__wrapper {
            min-height: 518px;
            padding-bottom: 0;
            border-radius: 20px;
            background: url("../img/promo-photo-mobile.png") center / cover no-repeat;
        }

        &__block {
            margin-top: 327px;
            margin-left: 0;
        }

        &__title {
            font-size: 52px;
            line-height: 90%;
            letter-spacing: -0.02em;

            &_m-hidden {
                display: none;
            }

            &_m-visible {
                display: block;
            }
        }

        &__subtitle {
            max-width: 235px;
            margin: 0 auto;
            margin-top: 8px;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: -0.02em;
        }

        &__btn {
            width: 80.8%;
            margin-top: 20px;
        }

        &-modal {
            width: 100%;
            height: 100%;

            &__yes, &__no {
                width: 100%;
                padding: 14px 12px 16px;
                margin-top: 25px;
                font-size: 18px;
            }

            &__subtitle {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .promo {
        &__title {
            font-size: 46px;
        }
    }
}