.footer {
    padding: 87px 0 138px 0;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px 26px 30px;
        border-radius: 100px;
        backdrop-filter: blur(24px);
        background: $mainc-bg;
    }

    &__btn {
        max-width: 292px;
        margin: 0;
        padding: 20px 50px 22px 50px;
        font-size: 20px;
        color: #080808;
    }

    &__social {
        display: flex;
        align-items: center;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 74px;
        height: 74px;
        margin-right: 20px;
        border-radius: 100px;
        background-color: #fff;

        img {
            width: 34px;
            height: 34px;
            object-fit: cover;
        }
    }

    &__wrapper {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 260px 267px 196px;
        grid-template-rows: 231px;
        grid-auto-rows: auto;
        column-gap: 265px;
    }

    &__emailwrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 185px;
        margin-top: 35px;
    }

    &__email {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: $mainc-w70;
    }

    &__headline {
        font-size: 36px;
        line-height: 85%;
        text-align: left;
    }

    &__list {
        list-style-type: none;

        &_ml- {
            margin-left: -15px;
        }

        li {
            margin-top: 20px;
            font-weight: 600;    // !!!!
            font-size: 20px;
            line-height: 130%;
            color: $mainc-w70;
        }
    }

    &__bottom {
        margin-top: 40px;
        padding: 14px 195px 0 195px;
        border-top: 2px solid $mainc-bg-w;
    }

    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: $mainc-w70;
    }

    &__br-m-visible {
        display: none;
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;

        .footer {
            &__headline {
                font-size: 34px;
            }

            &__list {
                li {
                    font-size: 18px;
                }
            }

            &__descr {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .footer {
        &__wrapper{
            column-gap: 170px;
        }

        &__descr {
            font-size: 16px;
        }

        &__top {
            padding: 16px 30px 22px 30px;
        }

        &__links {
            width: 70px;
            height: 70px;
        }

        &__logo {
            min-width: 260px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }

    .footer {
        padding-top: 0;
        padding-bottom: 100px;

        &__wrapper {
            column-gap: 110px;
        }

        &__bottom {
            padding: 14px 80px 0 80px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 648px;

        .footer {
            &__top {
                width: 100%;
                padding: 23px 30px 23px 30px;
            }
    
            &__wrapper {
                grid-template-columns: 265px 196px;
                grid-template-rows: minmax(50px, auto) minmax(231px, auto);
                column-gap: 69px;
                row-gap: 22px;
                margin-top: 30px;
            }

            &__links {
                margin-right: 25px;
            }
    
            &__logwrap {
                display: flex;
                align-items: center;
                
                grid-column: 1 / 3;
            }
    
            &__emailwrap {
                margin-top: 0;
                margin-left: 70px;
            }
    
            &__list {
                list-style-type: none;
        
                &_ml- {
                    margin-left: 0;
                }
    
                li {
                    font-size: 20px;
                }
            }
    
            &__headline {
                font-size: 36px;
            }
    
            &__bottom {
                width: 100%;
                margin-top: 35px;
                padding: 14px 10px 0 10px;
            }
    
            &__descr {
                font-size: 16px;
                line-height: 140%;
                letter-spacing: -0.02em;
            }

            &__br-m-visible {
                display: inline;
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 429px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}