.autorization {
    position: relative;
    min-height: 1250px;
    padding: 29px 0 0;

    &__logo {
        min-width: 260px;
        margin: 0 auto;
    }

    &__set {
        display: none;
    }

    &__pass {
        display: none;
    }

    &__block {
        display: flex;
        align-items: unset;
    }

    &__verify {
        display: none;
    }

    &__tabsWrap {
        display: flex;
        width: 380px;
        min-height: 67px;
        margin: 0 auto;

        &_m-visible {
            display: none;
        }
    }

    &__tabs {
        margin: 0;
        transition: 0s;

        &::before {
            background: unset;
        }

        &:hover {
            background: rgb(255 255 255 / 4%);
            color: #fff;
            box-shadow: unset;
        }

        &_sign, &_enter {
            position: relative;
            z-index: 0;
            padding: 19px 48px 21px;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #fff;
            background-color: $mainc-bg;
        }

        &_enter {
            left: -32px;
            min-width: 185px;
            padding: 19px 61px 21px;
        }

        &_sign {
            min-width: 240px;
        }

        &_active {
            z-index: 5;
            color: #080808;
            background-color: #fff;

            &:hover {
                background: #fff;
                color: #080808;
                box-shadow: unset;
            }
        }
    }

    &__forgetPass {
        cursor: pointer;
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #fff;

        &_tac {
            text-align: center;
        }

        &_m-visible {
            display: none;
        }

        &_mt20 {
            margin-top: 20px;
        }

        &_mt16 {
            margin: 16px auto 30px;
        }

        &_mb20 {
            margin-bottom: 20px;
        }

        &_w458 {
            max-width: 458px;
        }
    }

    &__btn {
        width: 100%;
        max-width: unset;
        margin-top: 16px;
    }
}

@media (max-width: 1679px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1120px;
    }

    .autorization {
        &__block {
            min-width: 648px;
        }

        &__logo {
            min-width: 260px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 968px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 648px;
    }

    .autorization {
        padding-top: 40px;

        &__block {
            min-width: 648px;
            border-radius: 40px;
        }

        &__verify {
            max-width: 648px;
        }

        &__set {
            max-width: 648px;
        }

        &__tabs {
            &_sign, &_enter {
                letter-spacing: -0.02em;
            }
        }

        &__confidential {
            line-height: 140%;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .autorization {
        &__block {
            min-width: 540px;
        }

        &__confidential {
            font-size: 19px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .autorization {
        min-height: 955px;
        padding-top: 30px;

        &__logo {
            min-width: 160px;
            min-height: 31px;
        }

        &__block {
            width: calc(100% - 40px);
            min-width: unset;
            padding: 20px;
            border-radius: 20px;
        }

        &__verify {
            width: calc(100% - 40px);
            max-width: unset;
            padding: 20px;
        }

        &__set {
            width: calc(100% - 40px);
            max-width: unset;
            padding: 20px;
        }

        &__tabsWrap {
            justify-content: center;
            width: 100%;
            min-height: unset;

            &_m-visible {
                display: flex;
            }
        }

        &__tabs {
            &_sign, &_enter {
                width: unset;
                min-width: unset;
                padding: 10px 22px 12px;
                font-size: 14px;
                letter-spacing: -0.02em;
            }

            &_sign {
                min-width: 126px;
            }

            &_enter {
                left: -14px;
            }
        }

        &__title {
            margin-top: 20px;
            margin-bottom: 34px;
            font-size: 14px;
            text-align: center;
            letter-spacing: -0.02em;

            &_m-visible {
                display: block;
            }

            &_m-hidden {
                display: none;
            }

            &_mt10 {
                margin-top: 10px;
            }

            &_mb24 {
                margin-bottom: 24px;
            }

            &_mb20 {
                margin-bottom: 20px;
            }

            &_tal {
                text-align: left;
            }
        }

        &__btn {
            width: 100%;
            max-width: unset;
            margin-top: 0;
            padding: 14px 0 16px;

            &_mt10 {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
}