h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Gilroy", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1540px;
    margin: 0 auto;
}

body {
    background: linear-gradient(270deg, #080808 0%, #1e120e 72.09%, #2d1910 100%);
}